@font-face {
    font-family: 'Minecraft Ten';
    src: url('mc-ten-lowercase-alt.ttf') format('truetype');
}

body {
    font-family: 'Minecraft Ten', sans-serif;
    text-align: center;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: yellow;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.5em;
    animation: fadeIn 2s ease-in-out;
    text-shadow: 4px 4px 0px black;
}

.server-button {
    background: url('https://i.imgur.com/3Q4cS0W.png') no-repeat center;
    background-size: contain;
    width: 300px;
    height: 80px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px black;
    font-family: 'Minecraft Ten', sans-serif;
}

.server-button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
    margin-top: 20px;
    font-size: 1.5em;
    color: white;
    animation: fadeIn 1s ease-in-out;
    text-shadow: 2px 2px 0px black;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
